<!DOCTYPE html>
<html>
  <head>
    <title>Grammable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md top-nav">
      <%= link_to 'Grammable', root_path, class: 'brand float-left' %>
      <ul class="navbar-nav add float-right">
        <% if current_user %>
          <li class="nav-item">
            Welcome, <%= current_user.email %>.
            <%= link_to "New Post", new_gram_path %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path %> <%= link_to "Sign Up", new_user_registration_path %>
          </li>

        <% end %>
      </ul>
    </nav>


    <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <%= yield %>
    </div>
  </body>
</html>
